html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sens-serif;
  color: $color-secondary-grey;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
