$color-brand-light: #e1ede6;
$color-brand-dark: #376b44;
$color-brand-middle: #598d66;
$color-secondary-light: #faeb97;
$color-secondary-dark: #d9b949;
$color-secondary-grey: #4c5866;
$color-secondary-light-grey: #c3d1c6;
$color-text-grey: #86928b;

$bp-mobile: 510px;
$bp-tablet: 690px;
$bp-desktop: 1280px;
